{% extends "layout.html" %}

{% block styles %}

{#<link href="{{ url_for('static', filename='./css/form.css') }}" rel="stylesheet"> #}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

<h1>Housing price prediction form</h1>
<form class="form needs-validation" method="POST" action="/predict" novalidate>
  {{ form.hidden_tag() }}
  {% for field in form %}
      {% if field.id != 'submit' and field.id != 'csrf_token' %}
          <div class="form-group">
              {{ field.label }}:
              {{ field(class="form-control") }}
              {% if field.errors %}
                  {% for error in field.errors %}
                      <p class="form-error-message">{{ error }}</p>
                  {% endfor %}
              {% endif %}
          </div>
      {% endif %}
  {% endfor %}
  <div class="form-submit">
      {{ form.submit(class="btn btn-primary btn-lg btn-block") }}
  </div>
</form>
{% endblock %}
