
  <footer class="footer pt-5 mt-5">
    <hr class="horizontal dark mb-5">
    <div class="container">
        <div class="col-12">
          <div class="text-center">
            <p class="my-4 text-sm">
              Plant Pathology Classification by &copy; <a target="_blank" href="https://github.com/Harvard-DCE-BIWADA/S14A2022-final-plantpathology" target="_blank">plantpathology</a> 
              - Developed by <a target="_blank" href="https://github.com/Harvard-DCE-BIWADA/S14A2022-final-plantpathology" target="_blank">Andrea Cheang, Heidi E. Schmidt, Matthew Thanos</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

